<div class="old-times-single-post">
    <div class="old-times-single-post-header">
        <div class="old-times-single-post-info">
            <span class="old-times-single-post-info-span old-times-single-post-info-total">随笔:22</span><span class="old-times-single-post-info-span old-times-single-post-info-comment">评论:0</span>
        </div>
    </div>

    <div class="old-times-single-post-content">
        <%- page.content %>
    </div>
</div>
